version: 2.1
orbs:
  matlab: mathworks/matlab@0.4.0

jobs:
  build:
    machine:
      image: ubuntu-1604:201903-01
    steps:
      - checkout
      - matlab/install
      - matlab/run-tests:
          test-results-junit: artifacts/test_results/matlab/results.xml
          # Have to add test/tools to the path for certain tests.
          source-folder: .;test/tools
      - store_test_results:
          path: artifacts/test_results
      - store_artifacts:
          path: artifacts/
